{% if potion %}
{% if potion.recommended %}
{% set link_color = 'link-success' %}
{% else %}
{% set link_color = 'link-secondary' %}
{% endif %}
{% else %}
{% set link_color = '' %}
{% endif %}
<a class="{{ link_color }}" href="ingredients/{{ ingredient.name | urlencode }}">
  {{ ingredient.name }}
</a>