<table class="table table-hover table-bordered align-middle text-center table-sm">
  <thead>
    <tr>
      <th colspan="4">Potency</th>
      <th colspan="2">Ingredient</th>
    </tr>
    <tr>
      <th>Magnitude</th>
      <th>Duration</th>
      <th>Price</th>
      <th>Min potion accessibility</th>
      <th>Name</th>
      <th>Accessibility</th>
    </tr>
  </thead>
  <tbody>
    {% for potency, ingredients in effect.ingredients_by_potencies %}
    {% for ingredient in ingredients | sort(attribute='accessibility_factor') %}
    <tr>
      {% if loop.first %}
      <td rowspan="{{ ingredients | length }}">
        {% include "snippets/potency/magnitude.html.jinja" %}
      </td>
      <td rowspan="{{ ingredients | length }}">
        {% include "snippets/potency/duration.html.jinja" %}
      </td>
      <td rowspan="{{ ingredients | length }}">
        {% include "snippets/potency/price.html.jinja" %}
      </td>
      <td rowspan="{{ ingredients | length }}" 
      class="fw-bold {{ 'text-danger' if potency.overpriced }}" >
        {{ potency.min_potion_accessibility | round | int }}
      </td>
      {% endif %}
      <td class="">
        {% include "snippets/ingredient/link.html.jinja" %}
      </td>
      <td>
        {{ ingredient.accessibility | round | int }}
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>