<span class="fw-bold {{ macros.compare_color(potency.duration, potency.effect.median_duration) }}">
{{ potency.duration | crop_number }}
</span>
<span class="text-secondary">/</span>
<span class="text-secondary">
  {{ potency.effect.median_duration | crop_number }}
</span>