<span class="fw-bold {{ macros.compare_color(potency.price, potency.effect.median_price) }}">
{{ potency.price | crop_number }}
</span>
<span class="text-secondary">/</span>
<span class="text-secondary">
  {{ potency.effect.median_price | crop_number }}
</span>