<div class="d-flex flex-wrap flex-row justify-content-center">
  <span class="px-1">
    {% include "snippets/potency/magnitude.html.jinja" %}💥
  </span>
  <span class="px-1">
    {% include "snippets/potency/duration.html.jinja" %}⌛
  </span>
  {# <span class="px-1">
    {% include "snippets/potency/price.html.jinja" %}🪙
  </span> #}
</div>