{% extends "default.html.jinja" %}
{% block title %}
{{ effect.name }}
{% endblock title %}
{% block content %}
<section>
  <h2>Ingredients</h2>
  {% include "snippets/effect/ingredients.html.jinja" %}
</section>
{# <section>
  <h2>Potions</h2>
  <table id="potions" data-page-length="100" class="table table-hover table-bordered align-middle text-center table-sm">
    <thead>
      <tr>
        <th>Potencies</th>
        <th>Ingredients</th>
        <th>Accessibility</th>
        <th>Price</th>
        <th>Minimum accessibility sum</th>
      </tr>
    </thead>
    <tbody>
      {% for potencies, potions in effect.grouped_potions %}
      {% for potion in potions | select("is_recommended_potion") %}
      <tr>
        {% if loop.first %}
        <td rowspan="{{ loop.length }}">
          <div class="d-flex flex-wrap flex-row justify-content-center">
            {% for potency in potencies %}
            <div class="px-1">
              {% include "snippets/potency/short.html.jinja" %}
            </div>
            {% endfor %}
          </div>
        </td>
        {% endif %}
        <td>
          <div class="d-flex flex-wrap flex-row justify-content-center">
            {% for ingredient in potion.ingredients %}
            <div class="px-1">
              {% include "snippets/ingredient/link.html.jinja" %}
            </div>
            {% endfor %}
          </div>
        </td>
        <td>
          {{ potion.accessibility | round(1) }}
        </td>
        <td>
          {{ potion.price | round(1)}}
        </td>
      </tr>
      {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</section> #}
{# <section>
  <h2>Recommended Potions</h2>
  <table id="potions" class="table table-hover table-bordered align-middle text-center table-sm"
    data-order="[[ 4, &quot;desc&quot; ]]">
    <thead>
      <tr>
        <th>Potencies</th>
        <th>Sum of potencies accessibility</th>
        <th>Ingredients</th>
        <th>Potion accessibility</th>
      </tr>
    </thead>
    <tbody>
      {% for potion in data.useful_potions %}
      {% if effect in potion.effects %}
      {% if not potion.overpriced %}
      {% if potion.potencies_accessibility_sum > potion.accessibility / 2 %}
      <tr>
        <td>
          <div class="d-flex flex-wrap flex-row justify-content-center">
            {% for potency in potion.potencies %}
            <div class="px-1">
              {% include "snippets/potency/short.html.jinja" %}
            </div>
            {% endfor %}
          </div>
        </td>
        <td>{{ potion.potencies_accessibility_sum | round | int }}</td>
        <td>
          <div class="d-flex flex-wrap flex-row justify-content-center">
            {% for ingredient in potion.ingredients %}
            <div class="px-1">
              {% include "snippets/ingredient/link.html.jinja" %}
            </div>
            {% endfor %}
          </div>
        </td>
        <td>{{ potion.accessibility | round | int }}</td>
      </tr>
      {% endif %}
      {% endif %}
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</section> #}
<section>
  <h2>Recommended Potions</h2>
  <table class="table table-hover table-bordered align-middle text-center table-sm">
    <thead>
      <tr>
        <th>Potency</th>
        <th>Ingredients</th>
        <th>Additional potencies</th>
        <th>Accessibility</th>
      </tr>
    </thead>
    <tbody>
      {% for main_potency in effect.potencies %}
      {% for potion in main_potency.useful_potions %}
      <tr>
        {% if loop.first %}
        <td rowspan="{{ main_potency.useful_potions | length }}">
          {% set potency = main_potency %}
          {% include "snippets/potency/short.html.jinja" %}
        </td>
        {% endif %}

        <td>
          <div class="d-flex flex-wrap flex-row justify-content-center">
            {% for ingredient in potion.ingredients %}
            <div class="px-1">
              {% include "snippets/ingredient/link.html.jinja" %}
            </div>
            {% endfor %}
          </div>
        </td>
        <td>
          <div class="d-flex flex-wrap flex-row justify-content-center">
            {% for potency in potion.potencies %}
            {% if potency.effect.name != main_potency.effect.name %}
            <div class="px-1">
              {% include "snippets/potency/short.html.jinja" %}
            </div>
            {% else %}
            {% endif %}
            {% endfor %}
          </div>
        </td>
        <td>
          {{ potion.accessibility | round | int }}
        </td>
        {% endfor %}
        {% endfor %}
      </tr>
    </tbody>
  </table>
</section>
{% endblock content %}